{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<div class="submenu">
		<a href="{% url 'noticias:crear_noticia' %}">Crear Noticia</a> 
		<a href="{% url 'noticias:listar' %}">Todas las categorías </a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
		{% endfor %}
	</div>
	<br>
	<h1>NOTICIAS</h1>
	<br>
	{% for noti in noticias %}
		<img src="{{noti.imagen.url}}" width="100" height="100" class="centro-imagen">
		
		<p><a href="{% url 'noticias:detalle' noti.pk %}">TITULO: {{noti.titulo}}</a></p>
		
		<p>FECHA: {{noti.fecha}}</p>
		<p>CATEGORIA: {{noti.categoria_noticia}}</p>
		<p>CUERPO: {{noti.cuerpo}}</p>
		<p>Publicado por: {{ noti.usuario }}</p>
		<br><br>
	{% endfor %}
{% endblock contenido %}




