{% extends 'base.html' %}
{% load static %}

{% block titulo %}PERFIL DE USUARIO{% endblock titulo %}

{% block contenido %}
    <h1>Perfil de {{ usuario.username }}</h1>
    <p>Nombre: {{ usuario.first_name }}</p>
    <p>Apellido: {{ usuario.last_name }}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Fecha de registro: {{ usuario.date_joined }}</p>
    <p>Ultima conexión: {{ usuario.last_login }}</p>

    <h2>Usuarios registrados</h2>
    <table>
        <tr>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        {% for u in lista_usuarios %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock contenido %}



