{% extends 'base.html' %}
{% load static %}

{% block titulo %}PERFIL DE USUARIO{% endblock titulo %}

{% block contenido %}
    <h1>Perfil de {{ usuario.username }}</h1>
    <br>
    <p>Nombre: {{ usuario.first_name }}</p>
    <p>Apellido: {{ usuario.last_name }}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Fecha de registro: {{ usuario.date_joined }}</p>
    <p>Última conexión: {{ usuario.last_login }}</p>
    <br><br><br>
    
    <h2>Usuarios registrados</h2>
    <br>
    <table>
        <tr>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            {% if request.user.is_superuser %}
                <th>Acciones</th>
            {% endif %}
        </tr>
        {% for u in lista_usuarios %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
            {% if request.user.is_superuser %}
                <td>
                    {% if u.is_active %}
                        <a href="{% url 'noticias:bloquear_usuario' u.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas bloquear a este usuario?')">Bloquear</a>
                    {% else %}
                        <a href="{% url 'noticias:bloquear_usuario' u.id %}" class="btn btn-success" onclick="return confirm('¿Estás seguro de que deseas desbloquear a este usuario?')">Desbloquear</a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock contenido %}





