
.contenedor{
	/*background-color: rgb(232, 236, 168);*/
	background-color: brown;
	
}

.centrar{
	text-align: center;
}

.bloque{
	text-align: center;
	padding: 100px;
	background-color: aliceblue;
	margin: 0 30px 0 30px
}

.submenu{
	font-size: 18px	;
}

.logo, .secciones, .usuario {
	display: inline;
}