{% extends 'base.html' %}
{% load static %}

{% block titulo %}HOME{% endblock titulo %}

{% block contenido %}
	<h2>Bienvenido a Nuestro Blog de Inteligencia Artificial</h2>
	<h1>La inteligencia artificial (IA) está transformando el mundo de maneras que nunca imaginamos. En este espacio, nos dedicamos a explorar los avances, aplicaciones y desafíos de esta fascinante tecnología. Desde el aprendizaje automático hasta la ética en la IA, aquí encontrarás artículos, noticias y análisis que te mantendrán al tanto de las últimas tendencias.</h1>	
	<h1>Nuestro objetivo es hacer que la inteligencia artificial sea accesible para todos. Ya seas un experto en tecnología o un curioso que quiere aprender más, aquí encontrarás contenido valioso y fácil de entender. Únete a nosotros en este viaje de descubrimiento y mantente informado sobre cómo la IA está dando forma a nuestro futuro.</h1>
	<h1>¡Explora, aprende y comparte tus opiniones con nosotros!</h1>	

{% endblock contenido %}

