{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
	<h2>NOSOTROS</h2>
	<br><br><br>
	<h3>
	El blog de Divulgación de Inteligencia Artificial (IA) del Grupo 6 forma parte del Informatorio, un innovador programa impulsado por el Gobierno de la Provincia del Chaco, enfocado en la formación de programadores y desarrolladores en informática. Este programa tiene como objetivo principal brindar a los jóvenes talentos la oportunidad de desarrollar habilidades técnicas y creativas en un campo de alta demanda como la tecnología y la programación.
	</h3>
	<br>
	<h3>
	El Grupo 6 está compuesto por un equipo multidisciplinario de estudiantes apasionados por la tecnología, la ciencia y, en especial, la inteligencia artificial. Cada integrante del grupo aporta una perspectiva única y habilidades diversas, que van desde la programación avanzada hasta el diseño de interfaces y la redacción técnica. Con un enfoque colaborativo y un espíritu de innovación, los miembros del Grupo 6 trabajan juntos para generar contenido educativo y relevante sobre los últimos avances en IA, cubriendo temas como aprendizaje automático, procesamiento de lenguaje natural, visión por computadora, entre otros.
	</h3>
	<br>
	<h3>
	El blog tiene como misión acercar conceptos complejos al público en general, con el fin de despertar interés por las tecnologías emergentes en la sociedad. A través de artículos, noticias y tutoriales, los integrantes del Grupo 6 no solo aplican los conocimientos adquiridos en el Informatorio, sino que también fortalecen su capacidad de comunicación y divulgación científica, contribuyendo así al crecimiento del ecosistema tecnológico en la región.
	</h3>
	<h3>
	<br>
	Este proyecto no solo representa una plataforma de aprendizaje y aplicación de conocimientos, sino también una ventana hacia el mundo de la IA, con la esperanza de inspirar a otros jóvenes a incursionar en el fascinante universo de la programación y la ciencia de datos.
	</h3>
{% endblock contenido %}

